{% extends "base.html" %}
{% block content %}
<div class="main-page">
    <img class="log-reg-logo" src="{{url_for('static',filename='assets/brand-logo-circle.png')}}">
    <h2 class="log-reg-title">Sign-Up</h2>
    <div class="form-div">
    <form action="/register" method="POST" novalidate>
<!--         <input type="email" name="username" placeholder="Username/email" autocomplete="off" maxlength="30">
        <input type="password" name="password" placeholder="Password" maxlength="20"> -->
        {{ form.csrf_token }}
        {{ form.username(autocomplete="off") }}
        {% if form.username.errors %}
        <span style="color:red;font-size:15px;margin:0">{{ form.username.errors[0]}}</span>
        {% endif %}
        {{ form.password }}
        {% if form.password.errors and not form.username.errors %}
            <span style="color:red;font-size:15px;margin:0">{{ form.password.errors[0]}}</span>
        {% endif %}
        <button class="btn submit-button">Register</button>
    </form>
    </div>
    <a href="{{url_for('home')}}"><i class="fas fa-home"></i></a>
    <div class="optional-div">
    <p>Already have an account? <a href="{{url_for('login_page')}}">SignIn</a></p>
</div>
</div>
{{super()}}
{% endblock %}